.pageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lessonWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 1440px;
}
.backBody {
  width: 1440px;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #ebf4fd;
}
.backBtn {
  border: none;
  background-color: #ebf4fd;
  color: #8596aa;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  margin: 20px;
}
.backLink {
  text-decoration: none;
}
